<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
	</startup>
	<connectionStrings>
		<add name="db" connectionString="Data Source=.;Database=StudentManagementSystem;Integrated Security=True"/>
		<!--<add name="db" connectionString="server=119.23.55.145;database=StudentManagementSystem;uid=sa;pwd=7202h-0978"/>-->
	</connectionStrings>
</configuration>